<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&family=Zen+Kaku+Gothic+New:wght@700&display=swap" rel="stylesheet">
<link rel="stylesheet" th:href="@{/css/login.css}">
<link rel="stylesheet" th:href="@{/css/bubble.css}">

  <title>登入</title>

<div class="login-container">
<h2 class="login-title">登入</h2>


</head>
<body>


    
<div class="message" th:text="${message}"></div>
<form action="login" method="post" class="login-form">


   <label for="nn" class="form-label" >帳號:
   <input type="text" id="nn" name="username"  class="form-input" required><br>
</label> 

    <label for="pp" class="form-label">密碼:
     <input type="password" id="pp" name="password" class="form-input"required><br>
</label>
    <button type="submit" class="form-button">登入</button>
</form>
<div class="register-link">
<a href="register">還沒有帳號？去註冊</a>
</div>
</div>

<div class="floating-bubble">
    <a href="/" class="home-btn">首頁</a>
</div>
</div>
</div>
</div>
</div>
</body>
</html>