/* 信任標章共用樣式 */


header, footer {
  width: 100%;
  text-align: center;
  padding: 20px 0;
  background: rgba(0, 0, 0, 0.2);
}

h1 {
  margin-top: 40px;
  font-size: 28px;
  font-weight: bold;
}

footer p {
  font-size: 14px;
  color: #ccc;
}
